schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Custom Restrictions -->

  <!-- Maintains correct Postal Code format: 5 digits -->
  <xs:simpleType name="postalCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Maintains correct date format: YYYY-MM-DD -->
  <xs:simpleType name="strictDate">
    <xs:restriction base="xs:date">
      <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Restriction for positive decimal numbers for price -->
  <xs:simpleType name="positiveDecimal">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.01"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Restiction for service duration range-->
  <xs:simpleType name="durationRange">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="120"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Maintains custom id format -->
  <xs:simpleType name="idPattern">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{3}\d{3}"/>
    </xs:restriction>
  </xs:simpleType>


<!-- Maintains types of appointments -->
<xs:simpleType name="appointmentType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="required"/>
    <xs:enumeration value="optional"/>
    <xs:enumeration value="walk-in"/>
  </xs:restriction>
</xs:simpleType>

<!-- Maintains types of articles -->
<xs:simpleType name="articleImportance">
  <xs:restriction base="xs:string">
    <xs:enumeration value="important"/>
    <xs:enumeration value="regular"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="languageList">
  <xs:list itemType="xs:language"/>
</xs:simpleType>


  <!-- Root Element -->
  <xs:element name="healthData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="institution" type="institutionType"/>
      </xs:sequence>
      <xs:attribute name="lang" type="xs:language" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Institution Type -->
  <xs:complexType name="institutionType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="address" type="addressType"/>
      <xs:element name="openingHours" type="openingHoursType"/>
      <xs:element name="social" type="socialType"/>
      <xs:element name="services" type="servicesType"/>
      <xs:element name="news" type="newsType"/>
    </xs:sequence>
    <xs:attribute name="id" type="idPattern" use="required"/>
  </xs:complexType>

  <!-- Address Type -->
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="postalCode" type="postalCodeType"/>
      <xs:element name="country" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Opening Hours Type -->
  <xs:complexType name="openingHoursType">
    <xs:sequence>
      <xs:element name="weekday">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="from" type="xs:time" use="required"/>
              <xs:attribute name="to" type="xs:time" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="weekend">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="from" type="xs:time" use="required"/>
              <xs:attribute name="to" type="xs:time" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Social Type -->
  <xs:complexType name="socialType">
    <xs:sequence>
      <xs:element name="facebook" type="socialLinkType"/>
      <xs:element name="twitter" type="socialLinkType"/>
      <xs:element name="instagram" type="socialLinkType"/>
      <xs:element name="threads" type="socialLinkType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="socialLinkType">
    <xs:attribute name="url" type="xs:anyURI" use="required"/>
  </xs:complexType>

  <!-- Services Type -->
  <xs:complexType name="servicesType">
    <xs:sequence>
      <xs:element name="service" type="serviceType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Service Type -->
  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="details" type="detailsType"/>
    </xs:sequence>
    <xs:attribute name="id" type="idPattern" use="required"/>
    <xs:attribute name="appointment" type="appointmentType" use="required"/> 
  </xs:complexType>

  <!-- Details Type -->
  <xs:complexType name="detailsType">
    <xs:sequence>
      <xs:element name="duration">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="durationRange">
              <xs:attribute name="unit" type="xs:string" fixed="minutes"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="price">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="positiveDecimal">
              <xs:attribute name="currency" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="staff" type="staffType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Staff Type -->
  <xs:complexType name="staffType">
    <xs:sequence>
      <xs:element name="doctor" type="doctorType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Doctor Type -->
  <xs:complexType name="doctorType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="specialty" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="idPattern" use="required"/>
    <xs:attribute name="languages" type="languageList" use="required"/> 
  </xs:complexType>

  <!-- News Type -->
  <xs:complexType name="newsType">
    <xs:sequence>
      <xs:element name="article" type="articleType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Article Type -->
  <xs:complexType name="articleType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="content" type="xs:string"/>
      <xs:element name="date" type="strictDate"/>
    </xs:sequence>
    <xs:attribute name="id" type="idPattern" use="required"/>
    <xs:attribute name="importance" type="articleImportance" use="required"/>
  </xs:complexType>

</xs:schema>